// ------------------------------------------------ \\
// $ZED - Theme
// ------------------------------------------------ //

// Scrollspy
body {
  position: relative;
}

// Header
header {
  border-bottom: 3px solid shade-color($primary, 4%);
  box-shadow: 0 0 12px rgba(148, 20, 20, 0.7);
}
@include media-breakpoint-up(md) {
  header {
    border-bottom: none;
  }
}

// Logo
.zed--nsd-logo {
  @include imgSize(151, 21.33333);
}

// Hero
.section-hero {
  background-color: $primary;
  opacity: 1;
  background-image: radial-gradient(#d57676 1.25px, transparent 1.25px), radial-gradient(#d57676 1.25px, $primary 1.25px);
  background-size: 50px 50px;
  background-position: 0 0,25px 25px;
}

@include media-breakpoint-up(md) {
  .nsd-hero-vh-100 {
    height: calc( 100vh - #{$zed-header} );
  }
}

// Why icons
.nsd-why--icon {
  @include imgSize(64, 64);
}

// Button icons
.btn svg {
  margin-bottom: 0.25rem;
}

// Internal anchor offset
.zed--anchor-local {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  visibility: hidden;
}
@include media-breakpoint-up(sm) {
  .zed--anchor-local {
    height: $zed-header;
    margin: -$zed-header 0 0 0;
    padding: $zed-header 0 0 0;
  }
}

// $Helpers - Text
// ---------------------- \\
.text-weight-black {
  font-weight: $font-weight-black !important;
}
.text-weight-bold {
  font-weight: $font-weight-bold !important;
}
.text-all-caps {
  text-transform: uppercase !important;
}
.text-spacing-wide-1 {
  letter-spacing: $letter-spacing-wide-1;
}
.text-spacing-wide-2 {
  letter-spacing: $letter-spacing-wide-2;
}
