/*!
 * Custom SCSS based on Bootstrap
 * No copyright 2021 - Zed’s Dead
 */

// ------------------------------------------------ \\
// $REQUIRED functions
// ------------------------------------------------ //
@import "bootstrap/functions";

// ------------------------------------------------ \\
// $CUSTOM VARIABLE OVERRIDES
// ------------------------------------------------ //
$primary: #c52525;
$secondary: pink;
$nav-link-color: tint-color($secondary, 14%);
$nav-link-hover-color: white;
$nav-pills-link-active-bg: shade-color($primary, 10%);
$font-weight-black: 900;

// ------------------------------------------------ \\
// $REQUIRED Bootstrap
// ------------------------------------------------ //
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// ------------------------------------------------ \\
// $CUSTOM - Colors
// ------------------------------------------------ //
// Remove default colors
$theme-colors: map-remove($theme-colors, "success", "info", "warning", "danger", "dark");
// Colors map
// $custom-colors: (
//   "nsd-primary":#c52525
// );
// // Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);
// $HELP - Tint or shade to mix colors w/ white or black
// color: tint-color($primary, 10%);
// color: shade-color($danger, 30%);

// ------------------------------------------------ \\
// $CUSTOM - Variables
// ------------------------------------------------ //
$initialism-font-size: $font-size-base;
$letter-spacing-wide-1: 1px;
$letter-spacing-wide-2: 2px;
$letter-spacing-shrink: -1px;

// ------------------------------------------------ \\
// $OPTIONAL Bootstrap components
// ------------------------------------------------ //
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/buttons";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/helpers/clearfix";
@import "bootstrap/helpers/colored-links";
@import "bootstrap/helpers/position";
@import "bootstrap/helpers/visually-hidden";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/utilities/api";

// ------------------------------------------------ \\
// $CUSTOM additional code
// ------------------------------------------------ //
@import "zed-functions";
@import "zed-mixins";
@import "zed-theme";

/*!
 * Who’s Zed?
 * Zed’s dead baby. Zed’s dead.
 */
