---
title: No Slack Day
---

{% comment %} /---------- HEADER ---/ {% endcomment %}
{% include header.html %}

<div class="main">

{% comment %} /---------- HERO ---/ {% endcomment %}
{% include section-hero.html %}

{% comment %} /---------- WHY ---/ {% endcomment %}
{% include section-why.html %}

{% comment %} /---------- 26th AUGUST ---/ {% endcomment %}
{% include section-august26.html %}

{% comment %} /---------- SHARE ---/ {% endcomment %}
{% include section-share.html %}

</div>

{% comment %} /---------- FOOTER ---/ {% endcomment %}
{% include footer.html %}