---
layout: default
title: Press release
permalink: /press/
---

{% include header.html %}

<section class="section-why px-4 py-4 my-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 mx-auto">
        <h1 class="fw-bolder text-weight-black display-4 mb-4">August 26th is <kbd>#noslackday</kbd></h1>

        <p><strong>Los Angeles (CA) – Thursday, 29th July 2021</strong>. Slack is so engrained in the workplace. You cannot email your coworkers anymore: they won&lsquo;t read them. You cannot share long-form documents about product vision: all discussions happen in threads. You cannot expect a curated review for your code: just drop a link in a public channel and hope someone will notice.</p>
        <p>Maybe there is a better way.</p>
        <p>&ldquo;Rediscover the pleasure of spending two hours writing down your ideas without immediate replies. Get back into the zone by working for an entire morning without a stream of pending notifications&rdquo;, says Zed, the collective behind the initiative.</p>
        <p>Get a taste of productivity back, stop slacking for a day. August 26th is <kbd>#noslackday</kbd>.</p>

        <h2>More info and share</h2>

        <p><a href="https://www.noslackday.org">Official website</a></p>

        <h2>Contacts</h2>
        <ul>
          <li><a href="mailto:info@noslackday.org">Email</a></li>
          <li><a href="https://twitter.com/noslackday" target="_blank">Twitter</a></li>
        </ul>


        <h3>About Slack</h3>

        <p>Slack is a messaging app for business that connects people. By bringing people to work as one team, Slack transforms the way organizations communicate.</p>

        <h3>About Zed</h3>

        <p>Zed is the independent online consortium set up in 2021 to raise awareness on the effect that technological monopolies have on people. Their mission is to promote innovation that stimulates and enhances creativity. They develop education projects, online initiatives, and open source libraries to highlight how technology should be at the service of human intellect, not the other way around. <kbd>#noslackday</kbd> is their first public foray as an ensemble.</p>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
