<header id="header" class="p-fixed">
  
  <div class="container grid-xl">
    
    <div class=columns>
      <div class="column col-6 col-xl-6 col-sm-6">
        <h1 class="zed--nsd-logo"><a href="#top" title="{{ page.title }}"><img src="/assets/img/noslackday-logo.png" alt="{{ page.title }}"></a></h1>
      </div>
      <div class="column col-6 col-xl-6 col-sm-6 text-right">
        <div class="zed--nsd-navigation off-canvas off-canvas-sidebar-show"><a class="off-canvas-toggle btn-action" href="#zed--nsd-navigation"><i class="icon icon-2x icon-menu"></i></a>
          <div class="off-canvas-sidebar" id="zed--nsd-navigation">
            {% include navigation.html %}
          </div>
          <a class="off-canvas-overlay" href="#close"></a>
        </div>
      </div>
    </div>
    
  </div>

</header>