<section id="hero" class="section-hero bg-primary text-white px-4 pt-5 pb-4">

  <div class="container text-center">

    <div class="mb-5"><kbd class="px-4 py-2">#NoSlackDay</kbd></div>

    <h1 class="text-weight-black text-all-caps display-4">Get a taste of productivity back</h1>
    <p class="display-6 mt-4">Do you feel like nothing gets done at work anymore?<br><strong class="text-weight-bold">Join us and stop slacking for a day!</strong></p>
    <a href="#why" title="Read more" class="d-block display-6 px-5 py-3 mt-5 text-light text-decoration-none"><span class="d-block">Read more</span> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16" role="img">
      <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/></svg>
    </a>

  </div>

</section>
