<a id="why" class="zed--anchor-local"></a>

<section class="section section-why hero">

  <div class="container grid-xl">

    <div class="hero-body py-2">
      <div class="columns">
      
        <div class="column col-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <div class="py-2 px-2">
            <img src="/assets/img/intimidating.png" alt="Intimidating" class="nsd-why--icon">
            <h3 class="py-2">INTIMIDATING</h3>
            <p>&ldquo;Welcome! Here are 2,123 channels you can browse to learn what we are working on.&rdquo;</p>
          </div>
          <br><br>
        </div>
        
        <div class="column col-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <div class="py-2 px-2">
            <img src="/assets/img/distracting.png" alt="Distracting" class="nsd-why--icon">
            <h3 class="py-2">DISTRACTING</h3>
            <p>&ldquo;Feel free to mute notifications&rdquo; (a week later) &ldquo;How come you didn&lsquo;t know? We talked about it!&rdquo;</p>
          </div>
          <br><br>
        </div>
  
        <div class="column col-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <div class="py-2 px-2">
            <img src="/assets/img/chaotic.png" alt="Chaotic" class="nsd-why--icon">
            <h3 class="py-2">CHAOTIC</h3>
            <p>&ldquo;I searched for what we talked about last week. Which of these 35k results is still relevant today?&rdquo;</p>
          </div>
          <br><br>
        </div>
  
        <div class="column col-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <div class="py-2 px-2">
            <img src="/assets/img/tyrannical.png" alt="Tyrannical" class="nsd-why--icon">
            <h3 class="py-2">TYRANNICAL</h3>
            <p>&ldquo;@you can you fix this bug?&rdquo; (posted by someone not in your team in a channel with your boss)</p>
          </div>
          <br><br>
        </div>
  
        <div class="column col-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <div class="py-2 px-2">
            <img src="/assets/img/exclusive.png" alt="Exclusive" class="nsd-why--icon">
            <h3 class="py-2">EXCLUSIVE</h3>
            <p>&ldquo;Please don't invite anyone to this group message or private channel. It's just for us.&rdquo;</p>
          </div>
          <br><br>
        </div>
      
        <div class="column col-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <div class="py-2 px-2">
            <img src="/assets/img/deceptive.png" alt="Deceptive" class="nsd-why--icon">
            <h3 class="py-2">DECEPTIVE</h3>
            <p>(after deleting or editing a compromising message) &ldquo;What? I never said that! You have no proof.&rdquo;</p>	
          </div>
        </div>
  
      </div>
      <div class="text-center">
        <a href="#august26" title="August 26th" class="btn btn-lg btn-primary">August 26th <i class="icon icon-arrow-down"></i></a>
      </div>
    </div>
    
  </div>

</section>