<a id="august26" class="zed--anchor-local"></a>

<section class="section-august26 bg-primary text-white pt-0 pb-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 mx-auto">
        <h2 class="card-title display-4 fw-bolder text-weight-black my-5 text-center">August 26th is <kbd>#noslackday</kbd><!-- <code class="text-light">#noslackday</code> --></h2>
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 text-center text-md-end mb-5 pe-4">
              <img src="assets/img/aug26.jpg" class="img-fluid rounded-circle pe-3" alt="Mark August 26th on the calendar">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text lead">Slack is so engrained in your workplace. You cannot email your coworkers anymore: they won’t read them. You cannot share long-form documents about product vision: all discussions happen in threads. You cannot expect a curated review for your Pull Request: just drop a link in a public channel and hope someone will notice.</p>
                <p class="card-text h4 mb-3"><strong class="text-weight-bold">Maybe there is a better way. Stop slacking for a single day. Just turn it off.</strong></p>
                <p class="card-text lead">Rediscover the pleasure of spending two hours writing down your ideas without immediate replies. Get back into the zone by coding for an entire morning without a stream of pending notifications. Rejoice in the tranquillity of designing prototypes that will be reviewed where they live, not in a chat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" text-center mb-5 d-none d-md-block">
    <a href="#share" title="Share" class="d-block display-6 px-5 py-3 mt-3 text-light text-decoration-none"><span class="d-block">Share</span> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16" role="img">
      <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/></svg>
    </a>
  </div>

</section>
