<a id="august26" class="zed--anchor-local"></a>

<section class="section-august26 bg-primary text-white py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 mx-auto">
        <h2 class="card-title display-4 text-weight-black mb-5 text-center">August 26 is <kbd>#noslackday</kbd><!-- <code class="text-light">#noslackday</code> --></h2>
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 text-center text-md-end mb-5 pe-4">
              <img src="/assets/img/aug26.jpg" class="img-fluid rounded-circle pe-3" alt="Mark August 26th on the calendar">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text lead">Slack is so engrained in your workplace. You cannot email your coworkers anymore: they won’t read them. You cannot share long-form documents about product vision: all discussions now happen in threads. You cannot expect a curated review for your Pull Request: just link it in a public channel and hope someone will notice.</p>
                <p class="card-text h4 mb-3"><strong class="text-weight-bold">Maybe there is a better way. Maybe you can stop slacking for a single day. Just turn it off.</strong></p>
                <p class="card-text lead">Rediscover the pleasure of spending two hours writing down your ideas without immediate replies. Get back into the zone by coding for an entire morning without a stream of pending notifications. Rejoice in the tranquillity of designing prototypes that will be reviewed where they live, not in a chat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <a href="#share" title="Share" class="btn btn-outline-light border-3 btn-lg px-5 py-3 mt-5 initialism text-weight-bold text-spacing-wide-2"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-share me-1" viewBox="0 0 16 16">
      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
    </svg> Share</a>
  </div>
    
</section>