<a id="august26" class="zed--anchor-local"></a>

<section class="section section-august26 hero bg-dark">

  <div class="container grid-lg">

    <div class="hero-body py-2">
      <h2 class="text-center">August 26 is #noslackday</h2>
      <div class="columns">
        <div class="column col-4 col-lg-4 col-md-5 col-sm-12 text-center mb-2">
          <img src="/assets/img/aug26.jpg" alt="August 26" width="249" height="249" class="s-circle"><br><br>
        </div>
        <div class="column col-8 col-lg-8 col-md-7 col-sm-12">
          <p class="px-2">Slack is so engrained in your workplace. You cannot email your coworkers anymore: they won’t read them. You cannot share long-form documents about product vision: all discussions now happen in threads. You cannot expect a curated review for your Pull Request: just link it in a public channel and hope someone will notice.</p>
          <p class="text-large px-2"><strong>Maybe there is a better way</strong>. Maybe you can stop slacking for a single day. Just turn it off.</p>
          <p class="px-2">Rediscover the pleasure of spending two hours writing down your ideas without immediate replies. Get back into the zone by coding for an entire morning without a stream of pending notifications. Rejoice in the tranquillity of designing prototypes that will be reviewed where they live, not in a chat.</p>	
        </div>
      </div>
      <div class="text-center">
        <a href="#share" title="Share" class="btn btn-lg btn-primary">Share <i class="icon icon-arrow-down"></i></a>
      </div>  
    </div>
    
  </div>
    
</section>