<a id="why" class="zed--anchor-local"></a>

<section class="section-why px-4 py-4 my-2">

  <div class="container">

    <div class="row pt-4">

      <div class="col-lg-4 col-md-6 my-4 text-center">
        <img src="assets/img/intimidating.png" alt="Intimidating" class="nsd-why--icon mb-3">
        <h3 class="text-weight-bold text-all-caps mb-4">Intimidating</h3>
        <p>&ldquo;Welcome! Here are 2,123 channels to learn what we are working on.&rdquo;</p>
      </div>
      <div class="col-lg-4 col-md-6 my-4 text-center">
        <img src="assets/img/distracting.png" alt="Distracting" class="nsd-why--icon mb-3">
        <h3 class="text-weight-bold text-all-caps mb-4">Distracting</h3>
        <p>&ldquo;Feel free to mute notifications&rdquo; (a week later) &ldquo;How come you didn&lsquo;t know? We talked about it!&rdquo;</p>
      </div>
      <div class="col-lg-4 col-md-6 my-4 text-center">
        <img src="assets/img/chaotic.png" alt="Chaotic" class="nsd-why--icon mb-3">
        <h3 class="text-weight-bold text-all-caps mb-4">Chaotic</h3>
        <p>&ldquo;I searched for what we talked about last week. Which of these 35k results is still relevant today?&rdquo;</p>
      </div>
      <div class="col-lg-4 col-md-6 my-4 text-center">
        <img src="assets/img/tyrannical.png" alt="Tyrannical" class="nsd-why--icon mb-3">
        <h3 class="text-weight-bold text-all-caps mb-4">Tyrannical</h3>
        <p>&ldquo;How long will it take <strong>@you</strong> fix this bug?&rdquo; (posted by your boss in a public chat).</p>
      </div>
      <div class="col-lg-4 col-md-6 my-4 text-center">
        <img src="assets/img/exclusive.png" alt="Exclusive" class="nsd-why--icon mb-3">
        <h3 class="text-weight-bold text-all-caps mb-4">Exclusive</h3>
        <p>&ldquo;Please don&rsquo;t invite anyone to this group message or private channel. It's just for us.&rdquo;</p>
      </div>
      <div class="col-lg-4 col-md-6 my-4 text-center">
        <img src="assets/img/deceptive.png" alt="Deceptive" class="nsd-why--icon mb-3">
        <h3 class="text-weight-bold text-all-caps mb-4">Deceptive</h3>
        <p>(after deleting or editing a compromising message) &ldquo;What? I never said that!&rdquo;</p>
      </div>

    </div>

    <div class="text-center mb-5 d-none d-md-block">
      <a href="#august26" title="August 26th" class="d-block display-6 px-5 py-3 mt-2 text-decoration-none"><span class="d-block">August 26th</span> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16" role="img">
        <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/></svg>
      </a>
    </div>

  </div>

</section>
