<a id="share" class="zed--anchor-local"></a>

<section id="share" class="section section-share hero">

  <div class="container grid-xl text-center">
    
    <div class="hero-body py-2">
      <h2>Are you on board? Let the world now!</h2>
      <div>
        <a href="#" title="Share on Twitter" class="btn btn-lg btn-primary d-inline-block mx-2 my-2">Twitter <i class="icon icon-share"></i></a>
        <a href="#" title="Share on LinkedIn" class="btn btn-lg btn-primary d-inline-block mx-2 my-2">LinkedIn <i class="icon icon-share"></i></a>
        <a href="#" title="Share on Facebook" class="btn btn-lg btn-primary d-inline-block mx-2 my-2">Facebook <i class="icon icon-share"></i></a>
      </div>
      <div>
        <a href="#" title="Share on Reddit" class="btn btn-lg btn-primary d-inline-block mx-2 my-2">Reddit <i class="icon icon-share"></i></a>
        <a href="#" title="Share on Hacker News" class="btn btn-lg btn-primary d-inline-block mx-2 my-2">Hacker News <i class="icon icon-share"></i></a>
      </div>
    </div>
    	
  </div>

</section>