<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/dist/css/starter.min.css' }}" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c52525">
<meta name="msapplication-TileColor" content="#c52525">
<meta name="theme-color" content="#c52525">
{% seo %}
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" tabindex="0"><a id="top" class="zed--anchor-local"></a>
  <main>
    {{ content }}
  </main>
  <script src="{{ '/dist/js/bootstrap.min.js' }}"></script>
  <script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
      target: '#main-navigation'
    })
  </script>
  <!-- Who’s Zed? -->
  <!-- Zed’s dead, baby. Zed’s dead. -->
</body>
</html>
